<div>
  <h1>Tabla Multiplicar</h1>
  <form #tablaForm="ngForm">
    <label>Número: </label>
    <input type="text" name="controlnumero" #controlnumero [required] />
    <br />
    <button [disabled]="!tablaForm.valid" (click)="tablaMultiplicar()">
      Calcular Tabla
    </button>
  </form>
  <table *ngIf="resultados.length > 0" border="1">
    <thead>
      <tr>
        <td>Operación</td>
        <td>Resultado</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let resultado of resultados; let i = index">
        <td>{{ numero }} x {{ i + 1 }}</td>
        <td>{{ resultado }}</td>
      </tr>
    </tbody>
  </table>
  <div [innerHTML]="html"></div>
</div>
