<div>
  <h1>Librería de comics</h1>
  <form #comicform="ngForm" (ngSubmit)="insertarComic()">
    <label class="form-label">Título: </label>
    <input
      class="form-control"
      type="text"
      name="controltitulo"
      #controltitulo
    /><br />
    <label class="form-label">Imagen: </label>
    <input
      class="form-control"
      type="text"
      name="controlimg"
      #controlimg
    /><br />
    <label class="form-label">Descripción: </label>
    <input
      class="form-control"
      type="text"
      name="controldesc"
      #controldesc
    /><br />
    <button class="btn btn-primary w-100 mb-3">Insertar cómic</button>
  </form>
  <div *ngIf="favorito" style="background-color: goldenrod; color: white">
    <h2>Favorito: {{ favorito.titulo }}</h2>
    <img [src]="favorito.imagen" width="100" height="150" />
  </div>
  <div class="row">
    <div *ngFor="let comic of comics; let i = index" class="col-4">
      <app-comic
        [comic]="comic"
        [index]="i"
        (modificarComicPadre)="modificarComic($event)"
        (eliminarComicPadre)="eliminarComic($event)"
        (selectFavPadre)="selectFav($event)"
      ></app-comic>
    </div>
  </div>
</div>
